@model SportNews.Web.ViewModels.TopicViewModel

@{
    ViewData["Title"] = "Изтриване";
}

<h2>Изтриване</h2>

<h3>Сигурен ли си, че искаш да изтриеш това?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subtitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subtitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Team.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn button-blue">Обратно</a>
    </form>
</div>
