@model SportNews.Web.ViewModels.StandingViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h2 class="text-color-white">@Model.Title</h2>

    <div class="col-lg-8" style="overflow: -webkit-paged-x; padding-left:0">
        <table class="table standing-table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Team
                    </th>
                    <th>
                        P
                    </th>
                    <th>
                        W
                    </th>
                    <th>
                        D
                    </th>
                    <th>
                        L
                    </th>
                    <th>
                        GL
                    </th>
                    <th>
                        GA
                    </th>
                    <th>
                        GD
                    </th>
                    <th>
                        PTS
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Standing)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Place)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Team.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GamesPlayed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Wins)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Draw)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Losts)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GoalsFor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GoalsAgainst)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GoalDifference)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Points)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="container-dark" class="col-lg-3 pink-border text-color-white" style="margin-top: 0;">
        <aside>
            @foreach (var country in Model.Countries)
            {
                <p>
                    <a data-toggle="collapse" data-target="#@country.CountryID" role="button" aria-expanded="false" aria-controls="collapseExample" class="league-name" style="color:white">
                        @country.Name
                    </a>
                </p>
                <ul class="collapse shadow" id="@country.CountryID">
                    @foreach (var league in Model.Leagues.Where(l => l.CountryID == country.CountryID))
                    {
                        <li class="league-element">
                            <a asp-action="Index" asp-route-league="@league.LeagueID" style="color:white">@league.Name</a>
                        </li>
                    }
                </ul>
            }
        </aside>
    </div>
</div>

@*<script>
    var test = document.getElementById("place");

    @foreach (var item in Model.Standing)
    {
        if (item.PlaceType == "Promotion - Champions League (Group Stage)")
        {
            test.sty
        }
    }
</script>*@