@model SportNews.Web.ViewModels.PostUserViewModel

<p>
    <a asp-action="Create" asp-route-teamid="@Model.TeamID">Create New</a>
</p>
<div id="container">
    <section>
        <div id="inner-wrap">
            <ul class="list-group">
                <li id="header" class="list-group-item d-flex justify-content-between align-items-center">
                    
                    <div class="row">
                        <div class="col-xs-7 col-sm-6 col-lg-8">
                            <a id="category">@Model.Team.Name</a>
                        </div>
                        <div class="col-xs-5 col-sm-2 col-lg-1">
                            <span class="fa fa-clock-o"></span>
                        </div>
                        <div class="col-xs-5 col-sm-2 col-lg-1">
                            <span class="fa fa-comment"></span>
                        </div>
                        <div class="col-xs-5 col-sm-2 col-lg-2">
                            <span class="fa fa-book"></span>
                        </div>
                        </div>
</li>
            </ul>
            @foreach (var item in Model.Posts.ToList())
            {
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="row">
                            <div class="col-xs-7 col-sm-6 col-lg-8">
                                <i class="fa fa-soccer-ball-o"></i>
                                <a style="font-size: 17px;" asp-controller="Reply" asp-route-postid="@item.ID" asp-action="Index">@Html.DisplayFor(modelItem => item.Title)</a><br />
                                <p id="forum-content" class="badge-primary badge-pill">
                                    @Html.DisplayFor(modelItem => item.Content)
                                </p>
                            </div>
                            
                            <div class="col-xs-5 col-sm-2 col-lg-1">
                               @Model.Posts.Count()
                            </div>
                            <div class="col-xs-5 col-sm-2 col-lg-1">
                                4
                            </div><div class="col-xs-5 col-sm-2 col-lg-2">

    <i class="fa fa-user-circle"></i>
    @*<a href="./viewtopic.php?f=5&amp;p=41&amp;sid=d7019df6cae6a323d6ba42640d8c8f40#p41" title="Standard Announcement" class="lastsubject">Standard Announcement</a> <br>*@
    by <a style="color: #AA0000;word-break:break-word">@Html.DisplayFor(modelItem => item.Author.UserName) AniAniAniAniAniaANinania</a>
    @*<a href="./viewtopic.php?f=5&amp;p=41&amp;sid=d7019df6cae6a323d6ba42640d8c8f40#p41" title="View the latest post">*@
    @*<i class="icon fa-external-link-square fa-fw icon-lightgray icon-md" aria-hidden="true"></i><span class="sr-only">View the latest post</span>
        </a>*@
    <br>@Html.DisplayFor(modelItem => item.CreatedOn, "{0:MM/dd/yyyy}")
    @*<a asp-controller="Reply" asp-action="Create" asp-route-id="@item.ID">Отговори</a>*@
</div></div>
                    </li>
                </ul>
            }
        </div>
    </section>
</div>