@model SportNews.Web.ViewModels.ReplyViewModel

@{
    ViewData["Title"] = "Index";
}

<div id="container">
    <div class="container-fluid">
        <div class="row" style="margin-bottom: 17px; color: black">
            <div class="col-xs-3 col-sm-2 col-lg-1"><img src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(@Model.Post.Author.Avatar))" alt="Notebook" style="width:70px; height: 70px"></div>
            <div class="col-xs-6 col-sm-8 col-lg-10">
                <strong style="font-size: 17px;">@Model.Post.Title</strong><br/>
                <span style="color: black;">by @Model.Post.Author</span><br/>
                <span class="fa fa-clock-o" style="color: grey">@Model.Post.CreatedOn</span>
            </div>
        </div>
    </div>
    <hr/>
    <p>
        @*<a asp-route-postid="@Model.Post.ID" onclick="showDiv()" class="float-right btn btn-outline-primary ml-2"><i class="fa fa-reply"></i> Reply</a>*@
        @if (User.Identity.IsAuthenticated)
        {
            <button asp-action="Create" class="btn btn-default" data-toggle="tooltip" title="Отговори" style="float:right; margin-bottom: 7px; margin-right: 10px; color: white; background-color: royalblue" onclick="showDiv()"><i class="fa fa-reply"></i></button>
        }
        else
        {
            <partial name="_LoginPartial" />
        }
    </p>

    @foreach (var item in Model.Replies.OrderByDescending(r => r.CreatedOn))
    {
        <div style="display: inline-grid; padding: 10px 10px 5px; background-color: #F8F8F8; width: 100%; color: black">
            <div style="background-color: white; border: 1px solid; border-color: gainsboro; border-radius: 3px">
                <article>
                    <ul class="col-xs-10 col-sm-8 col-lg-2 comment">
                        <li class="thumbnail reply-avatar">
                            <img class="media-object" src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.Author.Avatar))" alt="Notebook" style="width:100%;">
                        </li>
                        <li style="word-break: break-word;" class="reply-author">
                            @item.Author.UserName
                        </li>
                        <li>
                            <p class="post-count">Коментари: @Model.Replies.Where(r => r.AuthorID == item.AuthorID).Count()</p>
                        </li>
                    </ul>

                    <div class="col-xs-12 col-sm-10 col-lg-10">
                        <div>
                            <p style="color: #808080; padding: 20px 0 10px"><i class="fa fa-clock-o" style="padding-right: 5px"></i>@item.CreatedOn<p>
                        </div>
                        <div class="reply-content">
                            @Html.Raw(@item.Content)
                        </div>
                        <div style="border-top-color: #ECF0F1; margin-top: 15px; padding-top: 15px; border-top: 1px solid #808080">
                            This is a signature
                        </div>
                        @if (User.IsInRole(RoleConstraints.Administrator) || User.IsInRole(RoleConstraints.Moderator) ||
                            item.Author.UserName == User.Identity.Name)
                        {
                            <div style="float: right">
                                <a asp-action="Edit" asp-route-id="@item.ID" data-toggle="tooltip" title="Редактирай" class="btn btn-primary"><i class="fa fa-edit"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger" data-toggle="tooltip" title="Изтрий"><i class="fa fa-trash"></i></a>
                            </div>
                        }
                    </div>

                </article>
            </div>
        </div>
        <style>
            .thumbnail {
                padding: 0px;
            }

            .panel {
                position: relative;
            }

                .panel > .panel-heading:after, .panel > .panel-heading:before {
                    position: absolute;
                    top: 11px;
                    left: -16px;
                    right: 100%;
                    width: 0;
                    height: 0;
                    display: block;
                    content: " ";
                    border-color: transparent;
                    border-style: solid solid outset;
                    pointer-events: none;
                }

                .panel > .panel-heading:after {
                    border-width: 7px;
                    border-right-color: #f7f7f7;
                    margin-top: 1px;
                    margin-left: 2px;
                }

                .panel > .panel-heading:before {
                    border-right-color: #ddd;
                    border-width: 8px;
                }
        </style>
    }
</div>
<form asp-action="Create" asp-route-postid="@Model.Post.ID" asp-route-authorid="@Model.Post.AuthorID" asp-route-returnUrl="@Url.Page("/Reply", new { PostID = 2 })">
    <div id="welcomeDiv" class="form-group" style="display:none;">
        <partial name="Comment" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


