@model SportNews.Web.ViewModels.AllFixturesViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div id="container-dark" class="col-md-8 col-sm-12 text-color-white blue-border" style="text-align: center">
        <div style="display: inline-grid" class="fixture">
            <h3>@Model.LeagueName</h3>
            @if (Model.Fixtures.Count() == 0)
            {
                <div class="match-box"  >
                    <h3>Няма мачове на тази дата за посоченото първенство.</h3>
                </div>
            }
            @foreach (var fixture in Model.Fixtures)
            {
                <div class="col-xs-4 col-sm-4 col-lg-8 match-box">
                    <div class="col-xs-4 col-sm-4 col-lg-4">
                        <figure>
                            <img class="team-avatar" src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(@fixture.HomeTeam.Badge))"/>
                            <figcaption class="team-box">@fixture.HomeTeam.Name</figcaption>
                        </figure>
                    </div>
                    <div class="col-xs-4 col-lg-4" style="text-align: center">
                        <h2>@fixture.EventTime</h2>
                        <span>VS</span>
                        <h2>@fixture.EventResult</h2>
                        <h2>@fixture.EventStatus</h2>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-lg-4" style="float: right;">
                        <figure>
                            <img class="team-avatar" src="@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(@fixture.AwayTeam.Badge))" />
                            <figcaption class="team-box">@fixture.AwayTeam.Name</figcaption>
                        </figure>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="container-dark" class="col-lg-3 pink-border" style="margin-left: 15px">
        <aside>
            @foreach (var country in Model.Countries)
            {
                <p>
                    <a data-toggle="collapse" data-target="#@country.CountryID" role="button" aria-expanded="false" aria-controls="collapseExample" class="league-name" style="color:white">
                        @country.Name
                    </a>
                </p>
                <ul class="collapse shadow" id="@country.CountryID">
                    @foreach (var league in Model.Leagues.Where(l => l.CountryID == country.CountryID))
                    {
                        <li class="league-element">
                            <a asp-action="Index" asp-controller="Fixture" asp-route-id="@league.LeagueID" style="color:white">@league.Name</a>
                        </li>
                    }
                </ul>
            }
        </aside>
    </div>
</div>

